* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: kanit;
}

nav {
    display: flex;
    box-shadow: 1px 1px 10px hsla(0, 0%, 0%, 0.5);
    justify-content: space-around;
    align-items: center;
    background-color: #C73983;
    color: white;
    padding: 1rem;

    a {
        text-decoration: none;
        color: white;
    }

    ul {
        display: flex;
        list-style: none;
        gap: 20px;

        li {
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}

.container {

    display: flex;
    padding: 1rem;

    .video {

        iframe {
            width: 800px;
            height: 450px;
        }
    }

    .recommend {
        margin: 0 auto;
        width: 700px;

        .item {
            
            button{
                display: flex;
                width: 100%;
                img {
                    width: 300px;
                    height: 168.75px;
                    object-fit: cover;
                }
                p{
                    padding: 0 1rem;
                }
            }
            
        }

    }


}