*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: kanit;
}

nav{
    display: flex;
    box-shadow: 1px 1px 10px hsla(0, 0%, 0%, 0.5);
    justify-content: space-around;
    align-items: center;
    background-color: #C73983;
    color: white;
    padding: 1rem;
    
    a{
        text-decoration: none;
        color: white;
    }

    ul{
        display: flex;
        list-style: none;
        gap: 20px;

        li{
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}

.container{
    .video{
        padding: 1rem;
        iframe{
            width: 700px;
            height: 393px;
        }
    }
}